[submodule "src/Data/ProfileService"]
	path = src/Data/ProfileService
	url = https://github.com/MadStudioRoblox/ProfileService
[submodule "src/Vendor/raycastHitboxRbxl"]
	path = src/Vendor/raycastHitboxRbxl
	url = https://github.com/Swordphin/raycastHitboxRbxl
[submodule "src/State/Rodux"]
	path = src/State/Rodux
	url = https://github.com/Roblox/rodux
[submodule "src/Vendor/ZonePlus"]
	path = src/Vendor/ZonePlus
	url = https://github.com/1ForeverHD/ZonePlus
